<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Johnpaul's Bitnine</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="css/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="nav-container">
        <nav class="navigation">
                <div class="first-nav-child">
                    <ul class="first-nav-child-ul">
                        <span class="nav-span">
                            <li><img src="icons/search.png" alt="search"></li>
                            <li><a href="#">CONTACT</a></li>
                        </span>
                        <li><a href="#"><img src="icons/github.png" alt="github"></a></li>
                        <li><a href="#"><img src="icons/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#"><img src="icons/youtube.png" alt="youtube"></a></li>
                        <li><a href="#"><img src="icons/facebook.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="icons/medium.png" alt="blog"></a></li>
                    </ul>
                    </div>
                </div>
        
            <div class="under-nav-container">
                <div class="logo-language">
                
                </div>
                <select class="dropdown-btn">Select Language
                    <option value="select-language">Select Language</option>
                    <option value="english">English</option>
                </select>
            </div>
            <div class="under-nav-main-events">
                <ul class="main-events white>
                    <li><logo class="logo"><h1><img src="icons/pretty.png" alt="logo-pic"> &nbsp;bitnine</h1></logo></li>
                    <li><span class="aquamarine">PRODUCTS</span></li>
                    <li><a href="#">USE CASES</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">RESOURCES</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">COMPANY</a></li>
                    <li><a href="#">IR</a></li>
                    <li>
                        <button class="nav-btn"><em>TRY FREE</em></button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>