<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Johnpaul's Bitnine</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="css/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="nav-container">
        <nav class="navigation">
                <div class="first-nav-child">
                    <ul class="first-nav-child-ul">
                        <span class="nav-span">
                            <li><img src="icons/search.png" alt="search"></li>
                            <li><a href="#">CONTACT</a></li>
                        </span>
                        <li><a href="#"><img src="icons/github.png" alt="github"></a></li>
                        <li><a href="#"><img src="icons/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#"><img src="icons/youtube.png" alt="youtube"></a></li>
                        <li><a href="#"><img src="icons/facebook.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="icons/medium.png" alt="blog"></a></li>
                    </ul>
                    </div>
                </div>
        
            <div class="under-nav-container">
                <div class="logo-language">
                
                </div>
                <select class="dropdown-btn">Select Language
                    <option value="select-language">Select Language</option>
                    <option value="english">English</option>
                </select>
            </div>
            <div class="under-nav-main-events">
                <ul class="main-events white>
                    <li><logo class="logo"><h1><img src="icons/pretty.png" alt="logo-pic"> &nbsp;bitnine</h1></logo></li>
                    <li><span class="aquamarine">PRODUCTS</span></li>
                    <li><a href="#">USE CASES</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">RESOURCES</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">COMPANY</a></li>
                    <li><a href="#">IR</a></li>
                    <li>
                        <button class="nav-btn"><em>TRY FREE</em></button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="first-container">
        <div class="agens-sql">
            <h1><span class="salmon">Agens</span><span class="aquamarine">SQL</span></h1>
            <h2><em>An integration of Bitnine's DB technology and PG expertise</em></h2>
            <p>
                AgensSQL is an all-new relational DBMS based on PostgreSQL, with years of expertise and knowledge
                accumulated through database research and development.
            </p>
            <p>
                The enterprise package, along with AgensSQL engine, is an all-in-one solution that ensures the 
                efficiency and scalability of data management.
            </p>
            <p>
                Get AgensSQL now for stable operation and management services at a reduced maintenance cost.
            </p>
        </div>

        <div class="cbb-buttons">
            <button class="btn"><em>CONTACT</em></button>
            <button class="btn"><em>BROCHURE</em></button>
            <button class="btn"><em>BLOG</em></button>

        </div>
    </div>

    <div class="second-container">
        <div class="enterprise-images">
            <img src="" alt="enterprise-image">
            <img src="" alt="enterprise-image">
            <div>
                <h2>All-in-One Installation</h2>
            </div>
        </div>
    </div>

    <div class="third-container">
        <div class="key-features">
            <h2>
                Key features
            </h2>
            <p>Manage your data with Agens Enterprise Package</p>
            <p>Essential enterprise features such as high availability and sharding are provided</p>
        </div>
        <div class="dmahd">
            <div  class="hot-boxes">
                <h2 class="aquamarine">Data Security</h2>
                <p>Various security features are added to ensure security and stability of data.</p>
            </div>
            <div class="hot-boxes">
                <h2 class="salmon">Monitoring</h2>
                <p>
                    Monitoring dashboard views overall status of the DB such as query analysis, operating 
                    environment status, database audit, etc
                </p>
            </div>
            <div class="circle">
                <h2 class="strange-circles">AgensSQL</h2>
            </div>
            <div class="hot-boxes">
                <h2 class="salmon">High Availability</h2>
                <p>In the event of main system failure, the standby server minimizes downtime by restoring the system.</p>
            </div>
            <div class="hot-boxes">
                <h2 class="aquamarine">Data Sharding</h2>
                <p>
                    Distribute a single dataset across multiple databases, increasing the total storage
                     capacity of the system</p>
            </div>

        </div>

        <div class="fourth-container">
            <div class="agensSQL-db-engine">
                <h1>
                    AgensSQL DB Engine
                </h1>
                <h3 class="underline-this"><em><u>Enhanced Data Security</u></em></h3>
                <p class="trim-para">AgensSQL is a PostgreSQL-based DBMS that guarantees optimal security and stability.</p>
            </div>
            <div class="ppdra">
                <h4 class="info-boxes">Password Profile</h4>
                <h4 class="info-boxes">Data Redaction</h4>
                <h4 class="info-boxes"><span class="standout">Auditing</span></h4>
            </div>
        </div>

    </div>

    <div class="fifth-container">
        <div class="agens-enterprise-package">
            <h1>Agens Enterprise Package</h1>
            <p>
                Agens Enterprise Package comes with a high availability management server that supports backup and 
                data monitoring dashboard that helps enterprise customers manage their data efficiently.
            </p>
        </div>
        <div class="section-container"> 
            <section class="agens-ha-manager">
                    <h2>Agens HA Manager</h2>
                    <h3>HA clustering -Failover/Failback, Load-balancing</h3>
                    <img src="" alt="image of clustering">
            </section>

            <section class="agens-enterprise-manager">
                <h2>Agens Enterprise Manager</h2>
                <div class="floating-btns">Backup/Restore</div>
                <div class="floating-btns">DM Monitoring Dashboard</div>
                <div class="floating-btns">Schedule Management</div>
                <div class="floating-btns">Database Audit</div>
                <div class="floating-btns">SQL Monitoring</div>
                <div class="floating-btns">Performance Management</div>
            </section>
        </div>
    </div>

    <div class="sixth-container">
        <div >
            <ul class="products">
                <li>PRODUCTS</li>
                <li>Relational Database</li>
                <li>Graph Database</li>
                <li>Graph-based Solution</li>
            </ul>
        </div>

        <div class="use-cases">
            <li>USE CASES</li>
        </div>

        <div class="services">
            SERVICES
        </div>

        <div >
            <ul class="resources">
                <li>RESOURCES</li>
                <li>Documentation</li>
                <li>Learn</li>
            </ul>
        </div>

        <div class="blog">
            <li>BLOG</li>
        </div>

        <div>
            <ul class="company">
                <li>COMPANY</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</body>

<footer>
    <div class="footer-container">
        <div class="footer-items">
            <div class="copyright">
                <p>2023 by Bitnine Global Inc. All Rights Reserved.</p> 
            </div>

            <div class="footer-socials">
                <ul class="footer-social-links">
                    <li><a href="#"><img src="icons/github.png" alt="github"></a></li>
                    <li><a href="#"><img src="icons/youtube.png" alt="youtube"></a></li>
                    <li><a href="#"><img src="icons/linkedin.png" alt="linkedin"></a></li>
                    <li><a href="#"><img src="icons/facebook.png" alt="facebook"></a></li>
                    <li><a href="#"><img src="icons/medium.png" alt="blog"></a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>