<%- include ('./partials/body.ejs')  %>
    <div>
        <h2>Signup Here</h2>

        <form action="/signup" method="post">
            <input type="text" name="name" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" >
        </form>
    </div>
    </body>
</html>